modules = ["python-3.12", "nodejs-20", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["cacert", "coreutils", "ffmpeg-full", "freetype", "geckodriver", "glibcLocales", "imagemagickBig", "lcms2", "libGL", "libffi", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "zlib"]

[deployment]
run = ["sh", "-c", "gunicorn --config gunicorn.conf.py wsgi:application"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run Gunicorn"

[[workflows.workflow]]
name = "Run Gunicorn"
author = 43711892
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --config gunicorn.conf.py wsgi:application"
